<% if resource.errors.any? %>
  <div>
    <ul class="flash alert">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
