<div class="top-text col-xl-7 mb-5">
  <%= image_tag 'logo.png', width: "75%", class: "mb-3"%>
  <h3 class="top-discription lh-lg mt-5  mx-auto w-75">GROUVEは、音楽活動を始める<br>個人のためのマッチングサービスです。</h3>
</div>
