$accordion-button-active-color: white;
$accordion-button-active-bg: #65c6ba;
$accordion-button-focus-border-color: #b1e2dc;
$accordion-icon-active-color: white;


@import "../node_modules/bootstrap/scss/bootstrap";
